@charset "utf-8";

@font-face{
    font-family: Nanum Barun Gothic;
    font-style: normal;
    font-weight: 700;
    src: url(../font/NanumBarunGothic-Bold.woff);
}
@font-face{
    font-family: Nanum Barun Gothic;
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumBarunGothic-Regular.woff);
}
    /*@font-face = 글씨체 추가하기, font-family = 글씨체 선택*/

html, body{font-family: 'Nanum Barun Gothic', sans-serif;}/*sans-serif는 다음 시간에*/
#wrap{padding-top: 70px;}
/* //header */
header{
    position: fixed; top: 0; left: 0; z-index: 999;
    background-color: #fff; width: 100vw; height: 69px;}
    header::before{
        content: ''; display: block; width: 100vw; height: 1px; background: #d6d6d6;
        position: absolute; bottom: -1px;
    }
    
    .header_wrap{width: 1168px; margin: 0 auto; text-align: center;}
    .header_wrap h1{float: left; position: relative; right: 8px; top: 24px;}/*무슨일이 있어도 왼쪽에 붙어있어(강제성)*/
    .header_wrap h1 a{height: 21px; display: inline-block;}
    .header_wrap h1 .naver{
        width: 72px; background: url(../img/naver.png)no-repeat;
        background-size: 72px 21px; position: relative; left: 1px;
    }
    .header_wrap h1 .developers{
        width: 108px; background: url(../img/developers.png)no-repeat;
        background-size: 108px 21px; margin-left: 3px;
    }
    /*-----------------------------------------*/
    nav{position: relative; left: 26.5px;}
    nav ul li{float: left;}
    nav ul li a{
        display: block; position: relative;
        font-size: 14px; color: #595959; margin: 1px 15.5px;
        line-height: 69px;text-decoration: none;
    }
    nav ul li a:hover{
        font-weight: bold; text-decoration: none; color: #4ab56a;
    }
    nav .point li.over a{color: #4ab56a;}
    nav ul li a::after{
        content: ''; width: 0%; height: 2px; background-color: #4ab56a;
        position:absolute; bottom: 0px; left: 50%; transition: 0.2s;
        transform: translateX(-50%);/*x좌표를 중앙으로 찍음*/
    }
    nav ul li a:hover::after{width: 100%;}
    /*--------------------------------------*/
    .sub_menu{
        position: fixed; top:70px; left:0; width: 100vw; z-index: 1000;
        text-align: center;
        }
    .sub_menu .depth{display: none;}
    .sub_menu .depth::after{
        content: ''; background-color: #fff;
        top:0; left: 0; width: 100%; height: 100%;position: absolute; z-index: -1;
        box-shadow: 0 6px 2px rgb(0 0 0/ 20%);/*box-shadow 설정 */
    }
    .sub_menu .depth dl{
        display: inline-block; vertical-align: top; text-align: left; font-size: 15px;
        padding: 30px 30px 10px;
    }
    .sub_menu .depth dt{padding-bottom: 20px;}
    .sub_menu .depth a{text-decoration: none;}
    .sub_menu .depth dd a{color: #666; line-height: 24px;}
    .sub_menu .depth dt a{color: #202020; font-weight: bold;}
    .sub_menu .depth dd a:hover{color: #4ab56a; font-weight: bold;}
    /*.header_wrap nav .depth1 .products a:hover .sub_menu{opacity: 1;}*/
    /*-----------------------------------------*/
    .header_right{float: right; margin-top: 19px; }/*float = 무슨일이 있어도 오른쪽에 붙어있어(강제성)*/
    .header_right a{display: inline-block;  text-decoration: none;}
    .header_right li{display: inline-block; vertical-align: top; height: 32px; line-height: 32px;}
    .header_right .API{position: relative; bottom: 4px; right: 23px;}
    .header_right .API a{font-size: 12px; color: #4ab56a; margin-right: 10px;}
    .header_right .API a::before{
        content:"\e92b"; font-family: 'xeicon'; font-size: 16px;  position: relative; top: 4px; right: 2px;
    }
    /*------------------------------------*/
    .header_right .search{border: 1px solid rgb(226, 226, 226); padding: 0 5px; position: relative; right: 25px;}
    .header_right .search input{
        width: 160px; height: 100%; font-size: 14px; position: relative; left: 5px;
    }
    .header_right .search button{height: 100%;}
    .header_right .search button::before{
        content:'\e97a'; font-family: 'xeicon'; font-size: 15px; font-weight: bold;
        color: #aaa; position: relative; right: 3px; bottom: 1px;
    }
    /*--숨은 툴팁-----------------------------------*/
    .header_right .API .tooltip{
        display: none; z-index: 100;
        position: absolute; top: 43px; left: 15px; width: 230px; padding: 16px 22px 21px;
        font-size: 12px; color: #4ab56a; 
        background-color: white; border: 1px solid #e7e8ea; box-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
    }
    .header_right .API .tooltip::before,
    .header_right .API .tooltip::after{
        content: ''; border: solid transparent; bottom: 100%; height: 0; width: 0;
        position: absolute; left: 30px;
    }
    .header_right .API .tooltip::before{
        content: ''; border-bottom-color:#e7e8ea; border-width: 6px; margin-left: -6px;
    }
    .header_right .API .tooltip::after{
        content: ''; border-bottom-color: #fff; border-width: 5px; margin-left: -5px;
    }
    .header_right .API:hover .tooltip{display: block;}
    /*--//숨은 툴팁---------------------------------*/
    .header_right .login a{font-size: 0;}
    .header_right .login a::before{
        content: '로그인'; background-color: #202020; color: white;
        font-size: 14px; padding: 8px 20px; position: relative; right: 8px; 
    }
    /* 숨은 메뉴 */
    .hide_menu{
        width: 100%; height: 100%; z-index: -1;
        overflow: hidden; position: fixed; top: 0; left: 0;
    }
    .hide_menu.on{
        z-index: 998;
    }
    .hide_menu .hide_back{
        width: 100%; height: 100%; background: #202020a1;
        display: none;
    }
    .hide_menu .hide_gnb{
        width: 55%; height: 100%; background: #fff; z-index: 1;
        position: absolute; top: 0; left: 0;
        transform: translateX(-100%); transition: all .3s;
    }
    .hide_menu .hide_gnb.on{
        transform: translateX(0);
    }
    .hide_menu .hide_gnb .gnb_head{
        width: 100%; height: 50px; margin-top: 51px; position: relative;
        border-bottom: solid 1px #e5e5e5; display: block;
    }
    .hide_menu .hide_gnb .gnb_head .l{
        width: 50px; height: 50px;
        position: absolute; left: 0; top: 50%;
        transform: translateY(-50%);
    }
    .hide_menu .hide_gnb .gnb_head .r{
        width: 50px; height: 50px;
        position: absolute; right: 0; top: 50%;
        transform: translateY(-50%);
    }
    .hide_menu .hide_gnb .gnb_head .xi-angle-left{
        font-size: 24px;
    }
    .hide_menu .hide_gnb .gnb_head .xi-angle-right{
        font-size: 24px; 
    }
    .hide_menu .hide_gnb .gnb_head .xi-angle-left::before{
        content: "\e93b"; 
    }
    .hide_menu .hide_gnb .gnb_head .xi-angle-right::before{
        content: "\e93e";
    }
    .hide_menu .hide_gnb .gnb_head .title{
        font-size: 24px; position: absolute; left: 50%; top: 50%;
        transform: translate(-50%, -50%);
    }
    .gnb_menu{
        
    }
    body.on{overflow: hidden;}
    /*---------------------------------------*/
    .header_m{display: none;}
    
    @media screen and (max-width: 1168px){
        header{height: 50px;}
        #wrap{padding-top: 50px;}
        .header_wrap{display: none;}
        .header_m{width: 100%; height: 100%; display: block; text-align: center;}
        .header_m h1{padding-top: 15px; margin-left: -23px;}
        .header_m h1 a{height: 21px; display: inline-block;}
        .header_m h1 .naver{
        width: 72px; background: url(../img/naver.png)no-repeat;
        background-size: 72px 21px;
    }
        .header_m h1 .developers{
        width: 108px; background: url(../img/developers.png)no-repeat;
        background-size: 108px 21px;
    }
    /*----------------------------------------*/
        .header_m button{width: 50px; height: 50px; position: absolute; top: 0; z-index: 1; background-color: white;}
        .header_m .btn_open{left: 0;}
        .header_m .btn_search{right:17px}
        .header_m button::before{width: 100%; height: 100%; line-height: 50px; display: inline-block; 
                                font-family: 'xeicon'; font-size: 25px; color: #555;}
        .header_m .btn_open::before{content:"\e91c"; border-right: 1px solid #e5e5e5;}
        .header_m .btn_search::before{content:"\e97a"; border-left: 1px solid #e5e5e5;}
    /*----------------------------------------*/
        .header_m .search{
            background-color:white; position: absolute; top: 0; right: -100%; opacity: 0; transition: 0.2s; 
            width: calc(100% - 102px);/*화면넓이 100%에서 메뉴칸 102px만큼 뺀 넓이값*/height: 100%;
        }
        .header_m .search input{width: 100%; font-size: 15px; margin-top: 17px; padding-left: 15px;} 
        .header_m .search.show{right: 51px; opacity: 1;}
    }
/* //header */
/*--main_slide---------------------------------------------------------------------*/

.main_slide{overflow: hidden; position: relative;}
    .main_slide .scene{width: 400vw; transition: transform 0.5s;}
    /*100짜리 vw(view point wide)화면이 4개 있어서 가로로 정렬하려면 400vw가 필요함*/
    .main_slide .scene li{
        width: 100vw; float: left; text-align: center;
        /*flex-direction: column - 수직정렬*/
        /*justify-content: center - 수평정렬*/
    }
    .main_slide .scene img{height: 534px; width: 100%;  object-fit: cover;}
    /*----------------------------------*/
    .main_slide .dot{
        text-align: center; position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);
        /*position은 물체의 위치를 지정해주는 것임. absolute는 화면 어디에든 자리를 잡을 수 있게 한다.
        relative는 화면의 위치를 한정시켜주는 것임. transform: translateX는 대상의 크기를 기준으로 x축으로 움직이게 하는 것이다.*/
    }
    .main_slide .dot button{background-color: aliceblue; width: 15px; height: 15px; font-size: 0;
    border-radius: 50%; margin: 0 10px; opacity: 0.5; transition: opacity 0.35s;
    }
    /*radious : 모서리 깎기*/
    .main_slide .dot .on{opacity: 1;}
    .main_slide .dot button:hover{opacity: 1;}
    /*----------------------------------*/
    .main_slide .prev,
    .main_slide .next{
    width: 50px; height: 94px; background-color: #fff; cursor: pointer;
    position: absolute; top: 50%; transform: translateY(-50%);
    background: url(../img/main_slide/btn.png) center no-repeat; background-size: 100px 94px; opacity: 70%;
    font-size: 0;  transition: opacity 0.35s;
    }
    /*background 이미지에서 no-repeat를 사용하는 이유는 사용하지 않으면 똑같은 사진이 줄지어 반복되기 때문*/
    .main_slide .next{right: 20px; background-position: -50px center;}
    .main_slide .prev{left:20px; background-position: 0px center;}
    .main_slide .next:hover,
    .main_slide .prev:hover{opacity: 1;}
    /*----------------------------------*/
    @media screen and (max-width:1168px) {
        .main_slide{height: 400px; width: 100%;}
        .main_slide .scene li{height: 400px;}
        .main_slide .scene img{ width:100%; height:400px;}
        .no1{content: url(../img/mobile1.png);}
        .no2{content: url(../img/mobile2.png);}
        .no3{content: url(../img/mobile3.png);}
        .no4{content: url(../img/mobile4.png);}
        .main_slide .next,
        .main_slide .prev{display: none;}
    }
/*--mainslide//--------------------------------------------------------------------*/


/*--service------------------------------------------------------------------------*/
.service{
    text-align: center;
}
/*text align - 텍스트의 위치를 정렬해주는 역할*/
.service ul{
max-width: 1168px; height: 200px; margin:0 auto;  
}
/*max-width는 선언된 영역에 한해 화면이 최대로 커질 수 있는 크기를 뜻한다. 이 ul은 1632.5px 정도 되는 가로 화면에서 
최대 1168px까지 크기가 커질 수 있게 고정되었다.*/
/*auto는 수치를 자동으로 조절해주는 것으로 홈페이지 화면 크기에 맞춰 px갚을 맞춰주는 것이다.
만약 가로여백를 자동으로 맞추고 싶다면 margin의 입력값 공식에 따르면 margin:0px auto ; 라고 입력한다면
위, 아래의 여백은 0px가 되고 왼쪽, 오른쪽의 여백은 자동으로 홈페이지 크기에 맞춰지게 된다.*/
.service ul li{
    width: 16.4%; height: 100%;
    /*width = li들 사이의 간격을 의미함*/
    display:  inline-block;
    /*inline block = 세로정렬*/
    }
.service ul li::before{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    }
.service ul li a{
    display: inline-block;
    vertical-align: middle;/*vertical-align = 수직위치*/
    text-decoration: none;
    transition: 0.35s;/*transition = 변화과정*/
    }
.service ul li:hover a{
    transform: scale(1.2);
    }
.service li a::before{
/*before - 가상의 무언가를 만들때 사용. 원래는 앞에 있는 html을 이용하여 무언가를 만들어내고 CSS에서 그것들을
꾸며주는 것인데 CSS로도 만들어주게 하는거 같다(?) + 반드시 content가 들어가야 사용할 수 있음.*/
content: ""; display: block;
width: 70px; height: 70px; margin: 0 auto 18px;
background-repeat: no-repeat; background-position: 0 0;
background-size: contain;
}
.service li:nth-child(1) a::before{background-image: url(../img/service1.png);}
.service li:nth-child(2) a::before{background-image: url(../img/service2.png);}
.service li:nth-child(3) a::before{background-image: url(../img/service3.png);}
.service li:nth-child(4) a::before{background-image: url(../img/service4.png);}
.service li:nth-child(5) a::before{background-image: url(../img/service5.png);}
/*..=이전 파일*/ /*nth-child() =몇 번째를 지정할지(순서는 먼저 입력된 순서를 기준으로 매겨짐)*/

/*테스트
    <div class="test">
        <style>
            .test{width: 300px; overflow: hidden;}   --overflow = 지정된 영역 밖으로 노출된 정보의 속성(?)--
            .test img{width: 100%; opacity: 0; transition: 0.35s, opacity 1s;}
            --transition: opacity = 투명도가 설정된 경우 투명도가 바뀌는 시간도 설정 가능--
            .test img:hover{scale: 1.2; opacity: 1;}
        </style>
        <img src="img/develop1.png" alt="">
    </div>
*/
/*--///service--------------------------------------------------------------------*/

/*--summary--------------------------------------------------------------*/
.summary{background: linear-gradient(135deg, #f0f0f0, #cccccc);}
    .summary ul{ max-width: 100%; margin: 0 auto; text-align: center; padding-bottom: 31px;}/*text-align = block요소 안에 있는 inline요소를 정렬함*/
    /*margin은 넓이값이 정해져있어야 설정이 가능함*/
    .summary li:nth-child(1){margin-left: 0;}
    .summary li:nth-child(2){margin-left: 16.5px;}
    .summary li:nth-child(3){margin-left: 16.5px;}
    .summary li:nth-child(4){margin-left: 16.5px;}
    .summary li{
        position: relative;
        display: inline-block;
        width: 260px; 
        margin-top: 40px;
        margin-bottom: 19px;
        background-color: #fff;  transition: 0.3s;
    }
    .summary a{text-decoration: none;}
    .summary .img{
        width: 100%; height: 148px;
        background-repeat: no-repeat; background-size: cover;/*비율적으로 사이즈를 맞춰주는 명령어*/
        background-position: center;/*이미지가 보여지는 기준점*/
        transition: 0.3s;
    }
    
    .summary li:hover{box-shadow: 4px 4px 2px rgb(121, 121, 121, 0.2);}
    .summary li:nth-child(1) .img{background-image: url(../img/develop1.png);}
    .summary li:nth-child(2) .img{background-image: url(../img/develop2.png);}
    .summary li:nth-child(3) .img{background-image: url(../img/develop3.png);}
    .summary li:nth-child(4) .img{background-image: url(../img/develop4.png);}
    .summary li:nth-child(1) :hover .img{background-image: url(../img/over2.png);}
    .summary li:nth-child(2) :hover .img{background-image: url(../img/over1.png);}
    .summary li:nth-child(3) :hover .img{background-image: url(../img/over2.png);}
    .summary li:nth-child(4) :hover .img{background-image: url(../img/over1.png);}

.summary .text{text-align: left; padding: 18px;}
.summary .text p{font-size: 15px; margin-bottom: 5px; height: 36px; overflow: hidden;}
/* overflow: hidden; white-space: nowrap; text-overflow: ellipsis; (1줄 말줄임)*/
/* overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; (2줄 말줄임)*/
.summary .text span{font-size: 12px; color: #9e9e9e;}
.summary .text span::before{font-family: "xeicon"; margin-right: 3px; font-size: 14px; vertical-align: middle;}
.summary .text span:nth-of-type(1)::before{content: "\ea2b"; font-family: "xeicon";}
.summary .text span:nth-of-type(2)::before{content: "\e951"; font-family: "xeicon";}
.summary .text span:nth-of-type(1)::after{content: 'ㅣ'; margin-left: 4px;}
/*--///summary----------------------------------------------------------*/
/*--view----------------------------------------------------------------*/
.view{
    width: 1100px;
    display: block;
    position: relative; left: 50%; transform: translateX(-50%);
    padding: 10px 0 8px 0;
    background-color: #fff;
    font-size: 15px;
}
/*--///view-------------------------------------------------------------*/
/*--footer--------------------------------------------------------------*/
footer{
    text-align: center;
    vertical-align: middle;
    margin: 26px auto;
    font-size: 14px;
}
.top :nth-child(2){font-weight: bold;}
.top :nth-child(2)::before{content: '|'; color: #d7d7d7; padding: 0 3px; font-weight: normal;}
.top :nth-child(3)::before{content: '|'; color: #d7d7d7; padding: 0 3px;}
.top :nth-child(4)::before{content: '|'; color: #d7d7d7; padding: 0 3px;}
.top :nth-child(5)::before{content: '|'; color: #d7d7d7; padding: 0 3px;}
footer .hidden{display: none;}
.hidden :nth-child(2)::before{content: '|'; color: #d7d7d7; padding: 0 3px; font-weight: normal;}
.hidden :nth-child(3)::before{content: '|'; color: #d7d7d7; padding: 0 3px; font-weight: normal;}
footer i{font-size: 10px;}
footer .corp{font-size: 11px; font-weight: bold;}
footer .logo{
    width: 57px;
    height: 17px;
    display: inline-block;
    background: url(../img/foot_logo.png) no-repeat;
    background-position: 0 4px;
    background-size: 57px 11px;
    vertical-align: top;
}
.menu{padding-top: 5px; font-family: Arial, san-serif;}
footer .top a:hover{text-decoration: none; color: #4ab56a; font-weight: bold;}
footer .hidden a:hover{text-decoration: none; color: #4ab56a; font-weight: bold;}
footer .menu .corp:hover{text-decoration: none; color: #4ab56a;}
/*--///footer-----------------------------------------------------------*/
/*--media----------------------------------------------------------------*/
/*---- 미디어 쿼리
반응형 사이즈
PC     - 1200~ 이상
노트북 - 1200~ 이하
모바일 - 700~ 이하
--*/
@media screen and (max-width: 1168px){
    .service span{display:none;}
    .service li a::before{width: 50px; height: 50px;}
    .service ul li{width: 70px;}
    .summary ul{width: 600px;}
    .summary li{margin: 10px 0;}
    .summary li:nth-child(3){margin-left: 0;}
    .summary .view{width: 540px;}
}
@media screen and (max-width: 577px){
    .summary li{width: 154px;}
    .summary .img{height: 96px;}
    .summary .text p{font-size: 11px;}
    .summary .text span{font-size: 10px;}
    .summary .text span:nth-of-type(2){display:none}
    .summary .text span:nth-of-type(1)::after{display:none;}
    .summary .view{width: 328px;
    }
}
@media screen and (max-width:1168px){
    footer .top{display: none;}
    footer .hidden{display: block;}
}
/*--//media----------------------------------------------------------------*/