@charset "UTF8";
/* 공통 */
body{
    background: rgb(248, 248, 248);
}
.con-title{
    font-size: 17px; font-weight: bold;
    padding: 30px 0 10px;
    display: flex; justify-content: space-between; align-items: center;
}
.con-title > .con-more{
    margin-right: 10px;
}
.con-title > .con-more > a{
    font-size: 14px; color: rgb(255, 77, 106); 
}
.more{
    max-height: 310px; display: flex; align-items: center; padding: 0 20px;
}
.more > a{display: block;}
.r-padding{padding-right: 100px;}
.r-padding-10{padding-right: 10px;}
.more-box .swiper-wrapper .swiper-slide > a > img{border-radius: 5px;}
/**/
.pro-text .comp-name{margin-top: 5px; font-size: 10px; font-weight: bold; color: rgb(77, 116, 255);}
.pro-text .pro-name{margin-top: 5px; font-size: 11px; font-weight: bold;}
.pro-text .sale{margin-top: 5px; display: flex; align-items: center; gap: 10px;}
.pro-text .sale .percent{
    font-size: 14px; font-weight: bold; color: rgb(239, 36, 90);
}
.pro-text .sale .discount{
    font-size: 10px; color: #888; text-decoration: line-through;
}
.pro-text .price{margin-top: 5px; font-size: 15px; font-weight: bold;}
.pro-text .price .won{font-size: 13px; font-weight: 400;}
.pro-text .option{
    margin-top: 5px; display: flex; gap: 2px; align-items: center;
}
.pro-text .option > div{
}
.pro-text .option > div > img{
}
.radious > a .img-wrap{
    border-radius: 5px; overflow: hidden;
}
.radious > a .img-wrap > img{
    object-fit: cover;
}
.box > a .img-wrap{position: relative;}
.box > a .img-wrap > img{
    width: 100%; object-fit: cover;
}
.box > a .img-wrap > span{
    width: 100%; height: 18px; line-height: 18px; position: absolute;
    bottom: 0; left: 0; font-size: 10px; text-align: center;
    background: #333333d7; color: #fff;
}
/* //공통 */
#wrap{min-width: 360px; max-width: 720px; margin:0 auto; background: #fff;}
.header{position: sticky; top: 0; background: #fff; z-index: 999;}
.header .header-top{display: flex; justify-content: space-between; padding: 16px;}
.header .header-top .icon{display: flex; gap:16px;}
.header .menu-bar{display: flex;}
.header .menu-bar li{width:calc(100% / 3); height: 55px; line-height: 55px; text-align: center;}
.header .menu-bar li a{display: block; text-decoration: none; color: #888; font-weight: bold}
.header .menu-bar li.on{border-bottom: solid 2px #111;}
.header .menu-bar li.on a{color: #111;}
.content-wrap{
    padding-bottom: 15px;
}
.content-wrap .main-banner .wrap-1 .slide-1 > a > img{
    object-fit: cover; width: 100%; height: 100%;
}
.content-wrap .products{padding-left: 16px;}
.content-wrap .products .pro-special .special-wrap{
    width: 100%; height: 310px;
}
.content-wrap .products .pro-special .special .wrap-2 .slide-2{
    width: 310px; height: 310px; max-width: 310px; max-height: 310px;
    position: relative;
}
.content-wrap .products .pro-special .special .wrap-2 .slide-2 > a{
    display: block; position: relative;
}
.content-wrap .products .pro-special .special .wrap-2 .slide-2 > a > img{
    width: 100%; height: 100%; object-fit: cover;
}
.content-wrap .products .pro-new .new .wrap-3 .slide-3{
    width: 200px;
}
.content-wrap .products .pro-new .new .wrap-3 .slide-3 > a > img{
    width: 100%; object-fit: cover;
}
.content-wrap .products .pro-special .special .wrap-2 .slide-2 > a .front-text{
    position: absolute; bottom: 0; left: 0;
}
.content-wrap .products .pro-special .special .wrap-2 .slide-2 > a .front-text .text-wrap{
    position: relative; color: #fff;
}
.content-wrap .products .pro-special .special .wrap-2 .slide-2 > a .front-text .text-wrap .pro-left{
    font-size: 12px; font-weight: bold; padding: 8px 10px;
    background: #111111cf; border-radius: 30px;
}
.content-wrap .products .pro-special .special .wrap-2 .slide-2 > a .front-text .text-wrap .bottom-text-box{
    width: 100%; height: 100%;
}
.content-wrap .products .pro-videos .video .wrap-4 .slide-4{
    width: 150px;
}
.content-wrap .products .pro-videos .video .wrap-4 .slide-4 > a > img{
    width: 100%; object-fit: cover;
}
.content-wrap .products .pro-s-price .pro-wrap{
    display: flex;
}
.content-wrap .products .pro-s-price .pro-list{width: 250px; margin-right: 10px;}
.content-wrap .products .pro-s-price .pro-list > a > img{
    width: 100%;
}
.content-wrap .products .pro-big .big-pro-list > a .img-container{
    width: 100%; height: 400px; 
}
.content-wrap .products .pro-big .big-pro-list > a .img-container > img{
    width: 100%; height: 100% ; border-radius: 5px; object-fit: cover;
}
/* big-pro-text */
.big-pro-text .big-comp-name{margin-top: 5px; font-size: 10px; font-weight: bold; color: rgb(77, 116, 255);}
.big-pro-text .big-pro-name{margin-top: 5px; font-size: 15px; font-weight: bold;}
.big-pro-text .big-sale{margin-top: 5px; display: flex; align-items: center; gap: 10px;}
.big-pro-text .big-sale .big-percent{
    font-size: 20px; font-weight: bold; color: rgb(239, 36, 90);
}
.big-pro-text .big-sale .big-discount{
    font-size: 15px; color: #888; text-decoration: line-through;
}
.big-pro-text .big-price{font-size: 24px; font-weight: bold; display: flex; justify-content: space-between; align-items: center;}
.big-pro-text .big-price > span .won{font-size: 20px; font-weight: 400;}
.big-pro-text .big-price .now-buy{font-size: 12px; color: #888; font-weight: 400;}
.big-pro-text .big-option{
    margin-top: 5px; display: flex; gap: 2px; align-items: center;
}
.big-more{
    display: block; text-align: center;
    padding: 15px; margin-top: 10px;
    font-weight: bold; color: #333;
    border: solid 1px #e7e7e7;
}
/* big-pro-text */
.content-wrap .products .pro-review .review-wrap{
    display: flex; gap: 10px; margin-top: 10px;
}
.content-wrap .products .pro-review .review-wrap > img{
    width: 130px;
}
.content-wrap .products .pro-review .review-wrap > a .star{
    display: flex;
}
.content-wrap .products .pro-review .review-wrap > a .evaluation{
    margin-top: 10px; font-size: 12px;
}
.content-wrap .products .pro-review .review-wrap > a .user-info{
    margin-top: 20px; display: flex; gap: 10px;
}
.content-wrap .products .pro-review .review-wrap > a .user-info{
    font-size: 11px;
}
.content-wrap .products .pro-review .review-wrap > a .user-info .user{
    font-weight: bold;
}
.content-wrap .products .pro-review .review-wrap > a .user-info .day{
    color: #888;
}
.content-wrap .products .pro-ice .ice-wrap{
    display: flex; flex-flow: row wrap; gap: 10px;
}
.content-wrap .products .pro-ice .ice-wrap .ice-list{
    width: calc(100% / 3 - 10px);
}
.content-wrap .products .pro-ice .ice-wrap .ice-list > a > img{
    width: 100%; object-fit: cover;
}
/*  */
.footer{
    padding: 24px 16px 40px; background: #eeeeee;
}
.footer .policy-panel{
    display: flex; gap: 15px; font-size: 12px; font-weight: bold;
}
.footer .company-info{
    margin-top: 20px; font-size: 10px; color: #666;
}
.footer .company-info .call{
    display: flex; gap: 15px;
}
.footer .company-info .call > span{
    position: relative;
}
.footer .company-info .call > span::after{
    content: ''; width: 1px; height: 10px; display: block; background: #666;
    position: absolute; top: 2px; right: -8px;
}
.footer .company-info .call > span:last-child::after{
    display: none;
}
.footer .terms{
    margin-top: 20px; font-size: 10px; letter-spacing: -.5px; color: #888;
}
.footer .copyright{
    margin-top: 20px; font-size: 10px;  color: #888;
}
/*  */
.foot-nav{
    position: sticky; bottom: 0; z-index: 99;
    box-shadow: 0px 2px 5px 0px #333;
}
.foot-nav nav{
    background: #fff;
}
.foot-nav nav .nav-wrap{
    display: flex;
}
.foot-nav nav .nav-wrap li{
    width: calc(100% / 4); height: 60px; 
    display: flex; justify-content: center; align-items: center;
}
.foot-nav nav .nav-wrap li > a{
    width: 100%; height: 100%;
    display: flex; flex-flow: column; justify-content: center; align-items: center;
}
.foot-nav nav .nav-wrap li > a img{
    text-align: center;
}
.foot-nav nav .nav-wrap li > a p{
    text-align: center; font-size: 11px; color: rgb(153, 153, 153);
}
.foot-nav nav .nav-wrap li.on > a p{
    color:rgb(239, 36, 90);
}