@charset "utf-8";
body{font-family: 'Roboto', sans-serif; font-size: 75%; color: #555; overflow-x: hidden;}
body.on{overflow: hidden;}
#wrap{padding: 0; height: 100%;}
/*--header---------------------------------------*/
.header_wrap{
    height: 100px; width: 1060px; margin: 0 auto; z-index: 999; transform: translateX(-50%);
    display: flex; flex-flow: row; justify-content: space-between; position: absolute; top: 0; left: 50%;
}
.hide_bar{position: static; background: transparent; padding: 25px 0 0 15px;}
.hide_bar button{
    display: none; float: right; width: 25px; height: 25px; margin: 14px 28px 0 0; background: url(../img/btn_menu.png) 50% 50% no-repeat;
    background-size: auto 13px; border: 0 none; text-indent: -9em; overflow: hidden; z-index: 22; cursor: inherit;
}
.hide_bar.on button{
    width: 25px; height: 25px; background: url(../img/btn_close.png) 50% 50% no-repeat;
    background-size: auto 18px;
}
.hide_bar .logo{width: 185px; height: 50px;}
.hide_bar .logo a{
    width: 100%; height: 100%; background: url(../img/NAVERLABS_LOGO_WHITE_v2.png)0 16px no-repeat;
    display: block; background-size: 185px 19px;
}
.header_menu{padding: 27px 36px 0 0;}
.header_menu_list{display: flex; height: 50px; padding: 10px 0;}
.header_menu_list li{margin-left: 40px; text-align: left;}
.header_menu_list li:first-child{margin-left: 0px;}
.header_menu_list a{
    font-size:14.004px; font-weight: 700; color: #fff; text-align: center; text-decoration: none;
    line-height: 30px; letter-spacing: 1px; position: relative;
}
.header_menu_list .language_btn{margin-top: -1px;}
.header_menu_list .language_btn a.language{
    width: 85px; height: 30px; font-weight: 300; font-size: 14.2px; letter-spacing: 0.4px; display: block;
    border: solid 1px #fff;
}
.header_menu_list a::before{
    content: ''; position: absolute; display: block; bottom: -10px; left: -2px; width: 0px;
    height: 4px; background: #0078ff;
}
.header_menu_list a:hover::before{width: 100%; transition: all .1s;}
.header_menu_list .language_btn a.language::before{display: none;}
.header_menu_list .language_btn a.language:hover{background: #0078ff; border: solid 1px #0078ff;}
/*--click_menu--------------------------------------*/
.btn_click_menu{display: none; width: 100%; height: 100vh; background: #0078ff; position: absolute; top: 0; left: 0; z-index: 21;}
.hide_bar.on .btn_click_menu{display: block;}
.click_menu ul{padding: 24px 0 0 30px;}
.click_menu li{margin: 0 0 16px;}
.click_menu li a{
    position: relative; display: inline-block; text-decoration: none; text-transform: uppercase;
    font-size: 1.667em; font-weight: 700; color: #fff; letter-spacing: 1px;
}
.click_menu li .language{color: #000;}
/*--click_menu_footer-----------------------------*/
.click_menu_footer{
    z-index: 20; left: 0; right: 0; bottom: 0; width: auto; position: absolute; bottom: 0;
    padding: 0 30px 24px 30px; color: #fff; text-align: left;
}
.click_menu_footer::before{
    content: ' '; position: absolute; top: -16px; left: 30px;
    width: 20px; height: 3px; background: #fff; display: block;
}
.click_menu_footer .m_wrap{margin-top: -3px;}
.m_external-sites{position: absolute; bottom: 68px; left: 18px; padding: 0; list-style: none;}
.m_external-sites li{display: inline-block;}
.m_external-sites li a {
    position: relative; color: #999; background: url(../img/footer_site_over.png) 0 0 no-repeat;
    background-size: auto 17px; text-indent: -99em; overflow: hidden; display: inline-block;
    margin: 0 13.5px; width: 19px; height: 17px; text-decoration: none;
}
.m_external-sites .m_instagram a{background-position: -106px 0;}
.m_external-sites .m_youtube a{background-position: -214px 0;}
.m_external-sites .m_linkedin a{background-position: -324px 0;}
/**/
.m_terms li{margin-top: 11px; display: inline-block;}
.m_terms .m_interior-select{margin-top: 13px; display: block; position: relative;}
.m_terms li a{color: #fff; letter-spacing: -1px; font-size: 12px; padding-right: 12px; text-decoration: none; font-family: "Noto Sans KR"}
.m_terms .m_privacy a{font-weight: bold;}
.m_terms .m_ethics a{padding-right: 0; padding-left: 10px; position: relative;}
.m_terms .m_ethics a::before{
    content: ""; width: 1px; height: 8px; display: block; background: aqua;
    position: absolute; top: 5px; left: -1px;
}
.m_copyright{margin-top: 79px;}
.m_select_wrap .m_selected{
    position: relative; color: #fff; letter-spacing: -1px; font-size: 12px;
    padding-right: 12px; text-decoration: none; font-family: "Noto Sans KR"; cursor: pointer;
}
.m_select_wrap .m_selected::after{
    content: ''; display: inline-block; width: 7px; height: 5px; position: absolute;
    top: 7px; right: -7px; background: url(../img/footer_arrow.png) 0 -20px no-repeat;}
.m_selected_menu{
    display: none; position: absolute; bottom: 20px; left: 0; 
    padding: 11px; min-width: 154px; border: 1px solid #3f3f3f; background-color: #000;
}
.m_selected_menu.on{display: block;}
.m_selected_menu li{display: block; margin-top: 7px;}
.m_selected_menu li:first-child{margin: 0;}
.m_selected_menu li a{color: #999; font-family: "Roboto"}

/*--//click_menu------------------------------------*/

/*--//header-------------------------------------*/
/*--main_visual---------------------------------------*/
#main_visual{ position:relative; height:100vh; overflow:hidden; background:#000; z-index:5;}
#scenes{position:absolute; top:0; left:0; width:100%; height:100%; z-index:1;}
#scenes .scene{
    position:absolute; top:0; width:100%; height:100%; overflow:hidden;
    background-size:cover; background-position:50% 50%; z-index:2;
}
#scenes .scene:first-child{left:0;}
#scenes .scene:nth-child(2){left:100%;}
#scenes .scene:nth-child(3){left:200%;}
#scenes .scene:nth-child(4){left:300%;}
#scenes .scene:nth-child(5){left:400%;}
#scenes.animate{transition: left 0.7s;}
/*-- background ------------*/
#scenes .scene .background{ position:absolute; top:0; left:0; width:100%; height:100%;}
#scenes .scene .background::before{
    content:''; position:absolute; top:0; left:0; z-index:5;
    width:100%; height:100%; background-color: #000; opacity:0.3; 
}
#scenes .scene .background div{
    position:absolute; top:0; left:0; width:100%; height:100%; z-index:1;
    background-size:cover; background-position:50% 50%; opacity:1; transition: opacity 1s;
}
#scenes .scene .background.on div{opacity:0;}

/*-- info ---------------*/ 
.info{ 
    position:absolute; top:50%; left:50%; z-index:10;
    width:700px; height:280px; margin:-140px 0 0 -350px; color:#fff; text-align:center;    
 }
.info h2{ 
    text-transform:uppercase; font-weight:700; margin: 0 0 11px;
    font-size:5.2em; letter-spacing:0.08em;  line-height:1.05;    
}
.info p{ font-size:1.4em; line-height:1.6;}
/*-- text ---------------*/
.info span{ position:relative; display: inline-block; color:transparent; max-width:100%; white-space:pre; }
.info span::before{ 
    content: attr(data-text); overflow:hidden; white-space:pre;
    position:absolute; top:0; left:0; right:0; height:100%; color:#fff; 
    animation-duration:1.2s; animation-iteration-count: 1; animation-fill-mode:forwards;
    }
.info .text1::before{animation-name: text1;}
.info .text2::before{animation-name: text2;}
.info .text3::before{animation-name: text3; color: #c2c2c2;}
.info .text4::before{animation-name: text4; color: #c2c2c2;}
.info .text5::before{animation-name: text5;}
@keyframes text1{0%{right:100%;} 50%{right:0;}}
@keyframes text2{0%{right:100%;} 10%{right:100%;} 60%{ right:0;}}
@keyframes text3{0%{right:100%;} 20%{right:100%;} 70%{ right:0;}}
@keyframes text4{0%{right:100%;} 30%{right:100%;} 80%{ right:0;}}
@keyframes text5{0%{right:100%;} 40%{right:100%;} 90%{ right:0;}}
/*-- btn_play ---------*/
.btn_play {margin: 24px 0 0;}
.btn_play button{
    display:inline-block; position:relative; width:197px; padding:0.85em 0 0.8em;
    text-transform:uppercase; font-size:1em; letter-spacing:2px;
    border: 1px solid #fff; transition: border-color 0.14s;
    animation-name: play-button;
    animation-duration:1.2s; animation-iteration-count: 1; animation-fill-mode:forwards;
}
@keyframes play-button{ 0%{opacity:0;} 50%{opacity:0;} 100%{ opacity:1; } }
.btn_play button::before{
    content:''; position:absolute; top:0; left:0; z-index:-1;
    width:0; height:100%; background:#0078ff; transition: width 0.15s; 
}
.btn_play button:hover{ border-color:#0078ff;}
.btn_play button:hover::before{width:100%;}

/*-- roll_on ---------------*/ 
.roll_on{ position:absolute; left:50%; bottom:38px; width:700px; margin-left:-350px; text-align:center; z-index:2;}
.roll_on button{
    position:relative; width:50px; height:30px; margin:0 5px; overflow:hidden;
    background:transparent; text-indent: -99em;
}
.roll_on button::before,
.roll_on button::after{ content:''; position:absolute; top:12px; left:0; width:100%; height:6px; background:#fff;}
.roll_on button::after{ width:0; background:#0078ff;}
.roll_on button:hover::after,
.roll_on button.on::after{width:100%; transition: width 0.12s;}
/*-- controller ---------------*/ 
.controller .prev,
.controller .next {
    display:block; position: absolute; top:50%; left:30px; width:22px; height:39px; margin-top:-20px;
    text-indent:-99em; overflow:hidden; z-index:5;
    background-image: url(img/main_visual/btn_prev.png); background-size: 22px auto;
    opacity:0; visibility:hidden; transition: opacity 0.7s visibility 0.7s;
}
.controller .next { left:auto; right:30px; background-image: url(img/main_visual/btn_next.png);}
.controller .prev.on,
.controller .next.on { opacity:0.3; visibility:visible; transition: opacity 0.1s; }
.controller .prev.on:hover,
.controller .next.on:hover { opacity:0.6; }
/*-- popup ---------------*/ 
.popup{ display:none; position:absolute; top:0; left:0; z-index:10; width:100%; height:100%; background:#000000cc;}
.popup .popup_box {position:absolute; top:0; left:0; width:80%; height:0; padding-top: 56.25%; }
.popup button {
    position:absolute; width:45px; height:45px; top:0; right:0; visibility:hidden;
    background-image: url(../img/main_visual/close_pc.png); background-size: 45px 45px;
    transition: right 0.15s 0.32s, top 0.15s 0.32s, visibility 0.15s 0.32s;
}
.popup button.on{right:-45px; visibility:visible;}
#video_play{position:absolute; top:0; left:0; width:100%; height:100%;}
/*--//main_visual-------------------------------------*/
/*--container----------------------------------------*/
.container{max-width: 100%; min-height: 100%;}
/*--h2 공통--------------------------*/
h2{color: #333;}
.h2_padding{padding: 81px 0 0; font-size: 1.7em; position: relative; text-align: center;}
#main-videos .h2_padding{padding: 82px 0 0;}
/*--SEE MORE 공통--------------------*/
#main-featured .go-list{
    font-size: 1.4em; padding: 0.8em 0; margin: 43px auto 0; width: 197px; color: rgb(85, 85, 85);
    display: block; border: solid 1px #999; font-weight: 500; letter-spacing: 1px;
    text-decoration: none; text-align: center; position: relative; z-index: 1;
}
#main-videos .go-list{
    font-size: 1.4em; padding: 0.8em 0; margin: 43px auto 0; width: 197px; color: rgb(85, 85, 85);
    display: block; border: solid 1px #999; font-weight: 500; letter-spacing: 1px;
    text-decoration: none; text-align: center; position: relative; z-index: 1;
}
#container a.go-list::before{
    content: ''; width: 0%; height: 100%; background: #0078ff; display: block;
    position: absolute; top: 0; left: 0; transition: all 0.15s; z-index: -1;
}
#container a.go-list:hover{border:solid 1px #0078ff; color: #fff;}
#container a.go-list:hover::before{width: 100%;}
#container #main-videos a.go-list{margin: 48px auto 0;}
/*--main_company--------------------------------*/
#main_company{max-width: 1060px; height: 510px; padding: 55px 30px 0; margin: 0 auto; position: relative; text-align: center;}
#main_company span{display: inline-block;}
#main_company h2{margin: 49px 0 22px; font-size: 3.4em; text-align: left; line-height: 1.2;}
#main_company h2 .text_2{font-weight: 700;}
#main_company p{
    margin: 14px 0 0; font-size: 1.2em; line-height: 1.83; font-weight: 400; text-align: left;
    font-family: "Noto Sans KR", sans-serif;
}
.robot{width: 204px; position: absolute; top: 22.6%; right: 7.5%; transform: translateX(-25px); opacity: 0;}
.car{width: 340px; position: absolute; top: 43.8%; right: 12.2%; transform: translateX(25px); opacity: 0;}
.cover-reveal{position: relative;}
.cover-reveal::before{
    content: ''; width: 100%; height: 100%; background: #fff; opacity: .8; position: absolute; top: 0; right: 0;
    transition: all .4s;
}
.cover-reveal.text_2::before{transition-delay: .2s;}
.cover-reveal.text_3::before{transition-delay: .4s;}
.cover-reveal.text_4::before{transition-delay: .6s;}
.cover-reveal.text_5::before{transition-delay: .8s;}
.cover-reveal.text_6::before{transition-delay: 1s;}
.cover-reveal.text_7::before{transition-delay: 1.2s;}
#main_company.animation .cover-reveal::before{width: 0;}
#main_company.animation .car,
#main_company.animation .robot{transform: translateX(0); opacity: 1; transition: transform .6s, opacity .6s; transition-delay: .8s;}
/*--main_career--------------------------*/
#main-career{height: 285px; overflow: hidden; z-index: 1; position: relative;}
#main-career::before{
    position: absolute; z-index: -1; content: ''; top: 0;
    left: 0; right: 0; bottom: 0; background: url(../img/scene_bg_dot.png);
}
#main-career.bg{background:url(../img/main_career_v5.png)no-repeat  50%; background-size: cover; text-align: center; font-family: "Noto Sans KR", sans-serif;}
#main-career h2{padding: 59px 0 9px; font-size: 2.9em; color: #fff; font-weight: 300;}
#main-career p{
    font-size: 1.4em; color: #c2c2c2; font-weight: 400; letter-spacing: -0.1px;;
    padding-top: 1px;
}
#main-career a{
    color: #fff; font-size: 1.4em; padding: 0.8em 0; margin-top: 32px; width: 195px; padding: 13.44px 0;
    display: inline-block; border: solid 1px #fff; font-weight: 400; letter-spacing: 2px; text-decoration: none;
    position: relative; z-index: 1;
}
#main-career a::before{
    content: ''; width: 0%; height: 100%; z-index: -1; transition: all 0.15s;
    background-color: #0078ff; display: inline-block; position: absolute; top: 0; left: 0;
}
#main-career a:hover{border: solid 1px #0078ff;}
#main-career a:hover::before{width: 100%;}
/*--main-featured & main-videos----------------------------*/
#main-featured{padding: 0 20px 70px 20px; background: #f6f6f6; display: block; overflow: hidden;}
#main-videos{padding: 0 20px 70px 20px; background: #fff; display: block; overflow: hidden;}
.main-featured-wrap,
.main-videos-wrap{max-width: 1060px; margin: 0 auto; padding: 0 30px; display: block;}
.main-featured-wrap ul,
.main-videos-wrap ul{margin: 47px 0 0; overflow: hidden;}
.main-featured-wrap ul li,
.main-videos-wrap ul li{
    width: 32%; margin: 0 0 0 2%; float: left;
}
.main-featured-wrap li:first-child,
.main-videos-wrap li:first-child{margin: 0;}
.main-featured-wrap a,
.main-videos-wrap a{text-decoration: none;}
.main-featured-wrap a:hover h3,
.main-videos-wrap a:hover{color: #0078ff;}
.main-featured-wrap a:hover .content,
.main-videos-wrap a:hover .content{color: #202020;}
.main-featured-wrap .photo img,
.main-videos-wrap .photo img{width: 100%; height: 180.031px;}
/*--.main-videos-wrap .photo 가상요소----*/
.main-videos-wrap a .photo{position: relative;}
.main-videos-wrap a .photo::before{
    content: ''; width: 25px; height: 33px; background: url(../img/main_btn_video.png) no-repeat;
    position: absolute; top: 50%; left: 50%; z-index: 5; display: block;
    transform: translateX(-50%) translateY(-50%);
}
.main-videos-wrap a .photo::after{
    content: ''; width: 100%; height: 100%; background: #000; opacity: 0.5;
    position: absolute; top: 0; left: 0;
}
.main-videos-wrap a:hover .photo::after{display: none;}
/*--//.main-videos-wrap .photo 가상요소--*/
.main-featured-wrap h3,
.main-videos-wrap h3{
    margin-top: 11px; font-size: 24px; letter-spacing: -0.5px; font-weight: 500; text-align: left;
    white-space: pre; overflow: hidden; text-overflow: ellipsis; font-family: "Noto Sans KR";
}
.date-author{font-size: 1.1em; margin: 2px 0 0; color: #999; height: 19px; line-height: 19px;}
#main-videos .date-author{text-align: left;}
.date-author .author{
    margin-left: 1px; padding-left: 6px; width: 65%; display: inline-block; overflow: hidden;
    text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; position: relative;
}
.date-author .author::before{
    content: ' '; position: absolute; top: 3px; bottom: 3px;
    left: 0; width: 1px; background: #ddd; display: block;
}
.content{
    height: 71px; font-size: 1.2em; margin: 19px 0 0; line-height: 1.63; 
    -webkit-box-orient: vertical; font-weight: 300; overflow: hidden; color: #666;
    font-family: "Noto Sans KR"; display: -webkit-box;  text-overflow: ellipsis; -webkit-line-clamp: 3;
}
/*--main-videos-----------------------------------*/
#main-videos{padding: 0 20px 90px; overflow: hidden; text-align: center;}
/*--//container--------------------------------------*/
/*--footer-----------------------------------------*/
/*--go-top------------------------------*/
.go-top{
    width: 46px; height: 45px;
    position: absolute; top: -75px; right: 30px; overflow: hidden;display: block; 
    background: url(../img/btn_top.png)no-repeat; background-size: 34px 34px;
    background-position: 50% 50%; background-color: #000; cursor: inherit;
}
.go-top:hover{background-color: #0078ff;}
#footer{
    position: relative; clear: both; background: #000; text-align: center;
    padding: 0 0 21px; font-size: 1.08em; position: relative; clear: both;
    background: #000; text-align: center; padding: 0 0 21px; font-size: 1.08em;
}
#footer .wrap{
    position: relative; max-width: 1000px; height: 129px; margin:0 auto;
    text-align: left; display: flex; flex-flow: row;
    justify-content: space-between;
}
#footer .wrap .sns{display: flex; flex-flow: row; padding: 67px 0 0 0;}
#footer .wrap .sns li{margin-left: 3px;}
#footer .wrap .sns li:first-child{margin-left: 0px;}
#footer .wrap .sns a{
    margin: 0 17px 0 0; padding: 1px 0 1px 23px; font-size: inherit; color: #999;
    text-decoration: none;
}
#footer .wrap .sns li:nth-child(1) a{background: url(../img/footer_site.png)0 0 no-repeat; background-size: auto 17px;}
#footer .wrap .sns li:nth-child(2) a{background: url(../img/footer_site.png)-106px 0 no-repeat; background-size: auto 17px;}
#footer .wrap .sns li:nth-child(3) a{background: url(../img/footer_site.png)-214px 0 no-repeat; background-size: auto 17px;}
#footer .wrap .sns li:nth-child(4) a{background: url(../img/footer_site.png)-324px 0 no-repeat; background-size: auto 17px;}
/*------------------------------*/
#footer .wrap .sns a:hover{color: #fff;}
#footer .wrap .sns li:nth-child(1) a:hover{background: url(../img/footer_site_over.png)0 0 no-repeat; background-size: auto 17px;}
#footer .wrap .sns li:nth-child(2) a:hover{background: url(../img/footer_site_over.png)-106px 0 no-repeat; background-size: auto 17px;}
#footer .wrap .sns li:nth-child(3) a:hover{background: url(../img/footer_site_over.png)-214px 0 no-repeat; background-size: auto 17px;}
#footer .wrap .sns li:nth-child(4) a:hover{background: url(../img/footer_site_over.png)-324px 0 no-repeat; background-size: auto 17px;}
/*------------------------------*/
.interior-sites{display: flex; flex-flow: row; padding: 60px 0 0 0; font-size: inherit;}
.copyright{color: #787878; margin: 2px 0 0 3px; padding-top: 6px;}
.terms{display: flex; flex-flow: row; color: #787878; padding-top: 6px; position: relative;}
.terms span a{
    color: #787878; padding: 0 9px 0 11px; font-size: 12.0528px; font-family:'Noto Sans KR';
    position: relative; text-decoration: none; letter-spacing: -1px;
}
.terms span a:hover{color: #fff;}
.interior-sites .terms span.privacy a{font-weight: 700;}
.interior-sites .terms span.ethics a::before{
    content: ''; width: 1px; height: 8px; display: block; background: #787878;
    position: absolute; top: 6px; left: 2px; opacity: .5;
}
/*---------------------------*/
.terms .selected{
    position: relative; letter-spacing: -1px; font-size: 12px; display: none;
    padding-right: 12px; text-decoration: none; font-family: "Noto Sans KR"; cursor: pointer;
}
.terms .selected{
    position: relative; color: #787878; padding: 0 8px 0 13px; text-decoration: none; font-size: 0.92em;
    letter-spacing: 0;
}
.terms .selected::before{
    content: ''; width: 1px; height: 8px; display: block;
    background: #787878; position: absolute; top: 5px; left: 2px; opacity: .5;
}
.terms .selected::after{
    content: ''; display: inline-block; width: 7px; height: 5px; position: absolute;
    top: 7px; right: -7px; background: url(../img/footer_arrow.png) 0 -20px no-repeat;}
.terms .selected_menu{
    display: none; position: absolute; bottom: 20px; left: 160px; 
    padding: 11px; min-width: 154px; border: 1px solid #3f3f3f; background-color: #000;
}
.terms .selected_menu.on{display: block;}
.terms .selected_menu li{display: block; margin-top: 7px;}
.terms .selected_menu li:first-child{margin: 0;}
.terms .selected_menu li a{color: #999; font-family: "Roboto";}
/*---------------------------------------*/
.interior{
    position: relative; display: inline-block; font-size: inherit; margin-left: 22px;
}
.interior .selected{
    position: relative; display: inline-block; padding: 4px 8px 5px;
    width: 135px; height: 30px; border: 1px solid #3f3f3f; cursor: pointer;
    color: #999; text-decoration: none; font-family:'Noto Sans KR';
}
.interior .selected::after{
    content: ''; position: absolute; top: 12px; right: 8px;
    display: inline-block; width: 7px; height: 5px;
    background: url(../img/footer_arrow.png) no-repeat;
}
.interior .interior-list{
    position: absolute; bottom: 68px; left: 0; right: 0;
    padding: 11px 7px; border: 1px solid #3f3f3f; display: none;
}
.interior .interior-list li{margin-top: 7px;}
.interior .interior-list li a{color: #999; letter-spacing: -0.5px; text-decoration: none;}
.interior .interior-list li a:hover{color: #fff;}
.interior .interior-list li:first-child{margin-top: 0px;}
/*--selectd 클릭-------------------------*/
.interior.on .selected{color: #fff;}
.interior.on .selected::after{background-position: 0 -10px;}
.interior.on .interior-list{display: block;}
/*--//footer---------------------------------------*/

/*--mediaquiry-----------------------------*/

/*--1060px----------------------------------*/
@media screen and (max-width:1060px) {
.header_wrap{
    position: fixed; height: 54px; max-width: 100%; background: #000; z-index: 999;
    display: block;
}
.header_menu{display: none;}
.hide_bar{position: relative; width: 100%; height: 100%; background: #000; padding:0px; display: flex; flex-flow: row nowrap; justify-content: space-between; z-index: 20;}
.hide_bar button{display: block;}
.hide_bar .logo{width: 127px; height: 25px; margin: 14px 0 0 20px;}
.hide_bar .logo a{background: url(../img/NAVERLABS_LOGO_SMALL_WHITE.png)0 6px no-repeat; background-size: auto 13px;}
.main-videos-wrap .photo img{height: auto;}
/*--footer-----------------------------------------*/
#footer{height: 113px;}
#footer .wrap{flex-flow: column; height: 0;}
#footer .wrap .sns{padding: 26px 0 10px 0; margin: 0 auto; background: #000;}
#footer .wrap .sns a{
    margin: 0 10px; padding: 0; font-size: 0; width: 19px; height: 17px; display: block;
}
#footer .wrap .linkedin a{margin: 0 0 0 10px;}
.interior-sites{flex-flow: column; padding: 0 0 0 0; background: #000;}
.interior{display: none;}
.terms{padding: 3px 0 0; margin: 0 auto;}
.copyright{margin: 0 auto; font-size: 0.8em; color: #787878; margin-top: 0px;}
.terms .selected{display: block;}
.terms span a{font-size: 12.9px; letter-spacing: 0;}
}

/*--min-width 1060px-----------------*/
@media screen and (min-width:1060px) {
.hide_bar.on .btn_click_menu{display: none;}
}

/*--900px--------------------------------*/
@media screen and (max-width:900px) {
/*--틀---*/
.main-featured-wrap ul li,
.main-videos-wrap ul li{
width: 48.5%; margin: 0 0 36px 3%; float: left;}
.main-featured-wrap ul li:last-child,
.main-videos-wrap ul li:last-child{margin: 0 0 36px 0;}
}

/*--700px--------------------------------*/

@media screen and (max-width:700px){
#main_company{max-width: 1060px; height: 530px; padding: 30px 20px 0; margin: 0 auto; position: relative; text-align: center;}
#main_company h2{margin: 13px 0 16px; font-size: 2.1em;text-align: left; line-height: 1.2;}
#main_company p{margin: 14px 0 0; font-size: 1.05em; line-height: 1.6; letter-spacing: -0.8px; font-weight: 400;}
#main_company p br{display: none;}
.robot{width: 120px;top: 60%; right: 4.1%;}
.car{width: 200px;top: 70%; right: 14.3%;}
#main-career{height: 178px;}
#main-career h2{padding: 37px 0 2px; font-size: 1.7em; line-height: 1.2; color: #fff; font-weight: 500;}
#main-career p{font-size: 1.05em; color: #c2c2c2; font-weight: 400; padding-top: 1px;}
#main-career a{
    color: #fff; font-size: 0.9em; padding: 1.05em 3em; margin-top: 12px; width: auto;
    display: inline-block; border: solid 1px #fff; font-weight: 400; letter-spacing: 2px; text-decoration: none;
    position: relative;
}
#main-career a::before{display: none;}
#main-career a:hover{border: solid 1px #fff;}
.main-featured-wrap ul li,
.main-videos-wrap ul li{width: 100%; margin: 0 0 36px 0; float: left;}
.main-featured-wrap ul li:first-child,
.main-videos-wrap ul li:first-child{width: 100%; margin: 0 0 36px 0; float: left;}
.main-featured-wrap .photo img,
.main-videos-wrap .photo img{width: 100%; height: 100%;}
.main-featured-wrap,
.main-videos-wrap{max-width: 1060px; margin: 0 auto; padding: 0; display: block;}
.h2_padding{padding: 31px 0 4px; font-size: 1.2em;}
#main-videos .h2_padding{padding: 31px 0 4px; font-size: 1.2em;}
.main-featured-wrap ul,
.main-videos-wrap ul{margin: 27px 0 0;}
.main-featured-wrap h3,
.main-videos-wrap h3{
    margin-top: 13px; font-size: 1.7em;
}
.date-author{font-size: 1.1em; margin: 3px 0 0; color: #999; height: 19px; line-height: 19px;}
.content{
    height: 71px; font-size: 1.15em; margin: 10px 0 0; line-height: 1.7; 
    -webkit-box-orient: vertical; font-weight: 300; overflow: hidden; color: #666;
    font-family: "Noto Sans KR"; display: -webkit-box;  text-overflow: ellipsis; -webkit-line-clamp: 3;
}
#container a.go-list:hover{border:solid 1px #999; color: rgb(85, 85, 85);}
#container a.go-list:hover::before{width: 0%;}
#container #main-videos a.go-list{margin: 0;}
#main-featured .go-list{
    font-size: 0.9em; padding: 1.05em; margin: 0 auto; width: 114px; color: rgb(85, 85, 85);
    display: inherit; border: solid 1px #999; font-weight: 500; letter-spacing: 1px;
    text-decoration: none; text-align: center; position: relative; z-index: 1; 
}
#main-videos .go-list{
    font-size: 0.9em; padding: 1.05em 3em; margin: 0 auto; width: auto; color: rgb(85, 85, 85);
    display: inline-block; border: solid 1px #999; font-weight: 500; letter-spacing: 1px;
    text-decoration: none; text-align: center; position: relative; z-index: 1; 
}
.hide_bar button{margin: 14px 19px 0 0;}
.terms span a{font-size: 12.0528px; letter-spacing: 0;}
#footer .go-top {
    display: block; position: absolute; top: -50px; right: 10px; width: 40px; height: 40px;
    background: #000 url(../img/btn_top.png) 50% 50%; background-size: 34px 34px;
    border: 0 none; text-indent: -9em; overflow: hidden;
}
#footer .go-top:hover{background-color: #0078ff;}
/*--main_visual-------------------*/
.info{ width:320px; height:160px; margin:-80px 0 0 -160px;}
.info h2{  font-size:2.8em; margin: 0 0 5px;}
.info p{ font-size:1.05em; }
.btn_play button{ font-size:1em; width:auto; padding:1.05em 2.2em; }
.btn_play button::before{ background: transparent;}
.btn_play button:hover{ border-color:#fff;}
.roll_on{ bottom:20px; width:320px; margin-left:-160px; }
.roll_on button{width:25px; margin:0 3px;}
.roll_on button::before,
.roll_on button::after{height:3px;}
.controller .prev,
.controller .next {display:none;}
.popup{ background:#000;}  
.popup .popup_box { width:100%; }
.popup button { 
    width:40px; height:40px; 
    background: url(img/main_visual/close_m.png) 50% 50% no-repeat;background-size: 16px 16px; 
}
.popup button.on{right:0; top:-40px;}
}


/*--//mediaquiry---------------------------*/