@charset "utf-8";
/*--location------------------------------*/
.location{max-width: 1600px; margin: 0 auto; padding: 0 0 45px 30px;}
.location::after{content: ''; display: block; clear: both;}
.location li{float: left; padding: 0 25px 0 0; margin-top: 1px; font-size: 12px; color: #222; position: relative;}
.location li::after{
    content: ''; display: block; width: 5px; height: 7px;
    position: absolute; right: 10px; top: 2px; 
    background: url(../img/sprite.png)no-repeat; background-size: 474px 1500px;
    background-position: -103px 0;
}
.location li:last-child:after{display: none;}
.location a{color: #888;}
/*--content_title------------------------------*/
.content_title{
    text-align: center;
    font-family: 'NanumSquare-EB'; font-size: 42px; letter-spacing: -2.5px;
    padding: 0 0 35px;
    }
.content_title_info{
    font-size: 20px; letter-spacing: -.2px; line-height: 32px;
    padding:0 0 24px; text-align: center;
 }
.content_title_img{overflow: hidden; padding-top: 24%; position: relative;}
.content_title_img img{width: 100%; position:absolute; left: 0; bottom: 0;}

/*--content-----------------------------------*/
.content{max-width: 1120px;  margin: 74px auto 120px;}
.content_box{margin-top: 80px; font-size: 0;}
.content_box:first-child{margin: 0;}
/*-------------------------------------*/
.content_box dl > dt,
.content_box dl > dd{display: inline-block; vertical-align: top;}
.content_box dl > dt{
    width: 263px; letter-spacing: -0.6px; line-height: 1.4;
    font-family: 'NanumSquare-EB'; font-size: 20px; 
}
.content_box dl > dd{font-size: 15px; width: calc(100% - 263px); letter-spacing: -0.2px;}
.content_box > dl > dd > p{line-height: 1.8; letter-spacing: -0.2px;}
/*--//content---------------------------------*/
/*--map_wrap-------------------------------*/
.map_wrap{margin: 0; padding: 0;}
.map_wrap > div{width: 100%; height: 461px; overflow: hidden;}
/*--//map_wrap-----------------------------*/
/*--table---------------------------*/
.table{width: 100%; letter-spacing: -0.1px;}
.table caption{font-size: 0;}
.table tr{border-bottom: solid 1px #efefef;}
.table tr:first-child{border-top: solid 2px #333;}
.table th{text-align: left; font-family:'NanumSquare-B';}
.table th,
.table td{padding: 20px 0;}
/*--//table-------------------------*/
/*--common-----------------------------------------------*/
/*-- content_tap ---------------------------------------------*/
.content_tap{text-align:center; padding:3px 0 28px;}
.content_tap li{
    display:inline-block; position:relative; padding: 0 30px;
    font-family:'NanumSquare-EB'; font-size:20px; 
}
.content_tap li::after{
    content:''; display:block; position:absolute; left:0; top:2px;
    width:1px; height:18px; background:#bac2cd;
}
.content_tap li:first-child::after{display:none;}
.content_tap a{ 
    position:relative; color:#bac2cd; text-decoration:none;
    transition: color 0.3s;
}
.content_tap a:hover{color:#333;}
.content_tap a::after{ 
    content:''; position:absolute; left:0; bottom:0; 
    width:100%; height:2px; background:#00c73c; 
    transform-origin:0 0; transform:scaleX(0); transition: transform 0.3s ease;
}
.content_tap a:hover::after{transform:scaleX(1);}
.content_tap a[aria-selected="true"]{color:#333;}
.content_tap a[aria-selected="true"]::after{transform:scaleX(1);}
/*-- tab_menu ---------------------------------------------*/
.tap_menu > li{display:block; cursor:pointer;}
.tap_menu > li { margin:0 0 10px; color:#bbb; text-decoration:none;  transition:color .3s; }
.tap_menu > li:hover{color:#333; }
.tap_menu > li span{display:inline-block; position:relative;}
.tap_menu > li span:after {
    content: '';  position:absolute; left:1px; bottom:4px; width:calc(100% - 2px); height:2px;
    background-color:#00c73c;  transform-origin:0 0; transform:scaleX(0); transition:transform 0.3s ease;
}
.tap_menu > li:hover span:after{transform: scaleX(1);}
.tap_menu > li.on{color: #333;}
.tap_menu > li.on span:after{transform: scaleX(1);}
/*-- tab_list ---------------------------------------------*/
.tap_list > li{display:none;}
.tap_list > li:first-child{display:block;}
.tap_list ol strong,
.tap_list ol p, 
.tap_list ol b{display:inline-block; vertical-align:top;}
.tap_list ol > li{border-top: 1px solid #eee; padding:35px 0;}
.tap_list ol > li:first-child{border:0; padding-top:0;}
.tap_list ol > li strong{font-family:'NanumSquare-EB'; font-size:20px; width:16%;}
.tap_list ol > li p{ line-height:1.4; font-size:15px; color:#666; }
.tap_list ol > li span{display:block; padding-bottom:16px;}
.tap_list ol > li span:last-child{padding:0;}
.tap_list ol > li b{font-family:'NanumSquare-B'; width:50px; color:#333;}
.tap_list ol > li em{display:inline-block; line-height:1.8;}
/*--//common---------------------------------------------*/
/*--company---------------------*/
.content.company{margin-top: 54px;}
/*--//company-------------------*/
/*--contect--------------------*/
.content{margin: 40px auto 120px;}
.content_box dd strong{font-family: "NanumSquare-B"; display: inline-block;}
.content_box dd strong.tel{margin-top: 10px;}
.content_box dd p{margin:0 0 18px 0;}
.contact dd strong{line-height: 1.4; padding-bottom: 4px;}
/*----------------------------*/
.customerCenter{margin-top: 80px;}
.customerCenter ul::after{content: ''; display: block; clear: both;}
.customerCenter li{float: left; width: 33.333%;}
/*--//contect------------------*/