@charset "utf-8";
@font-face {
    font-family: 'NanumSquare-L';
    src: url("../font/NanumSquareOTFLight.woff") format('woff2');
}
@font-face {
    font-family: 'NanumSquare';
    src: url("../font/NanumSquareOTFRegular.woff") format('woff2');
}
@font-face {
    font-family: 'NanumSquare-B';
    src: url("../font/NanumSquareOTFBold.woff") format('woff2');
}
@font-face {
    font-family: 'NanumSquare-EB';
    src: url("../font/NanumSquareOTFExtraBold.woff") format('woff2');
}

body, th, td, input, select, textarea, button {font-family: 'NanumSquare';}

::selection{background:red; color:#fff;}

/*--layout--------------------------------*/
#wrap{position: relative; min-width: 1120px; min-height: 100%;}
.container{padding-top: 80px;}