@charset "UTF8";

/* 스와이퍼 공통 */
.main-con{
    margin-top: 100px;
}
.main-con > span{
    font-size: 30px; font-weight: bold; letter-spacing: -1px;
    margin: 20px 0; display: block;
}
.swipe, .content-1{
    overflow: hidden;
}
.swipe .swiper-slide{
    padding: 0 15px;
}
.swipe .swiper-slide > a{
    overflow: hidden; display: block;
}
.swipe .swiper-slide a img{
    width: 100%; transition: all .3s;
}
.swipe .swiper-wrapper .swiper-slide a img:hover{
    transform: scale(1.1);
}
.brand-name{
    display: flex; justify-content: space-between;
}
.brand-name p{
    font-size: 15px; color: #888;
}
.brand-name button{
    width: 15px; height: 15px; display: block; background: url(../img/content/content-2/icon-like-sm-off.png)no-repeat;
}
.product{
    margin-top: 5px; font-size: 14px;
}
.price{
    font-weight: bold; display: block; margin-top: 10px; 
}
.category{
    margin-top: 10px;
}
.category span{
    font-size: 12px; color: #888; padding: 2px 10px; background: #ededed; border-radius: 5px; 
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #111;
}
/* 스와이퍼 공통 */

body{height: 3000px;}
#wrap{
    margin: 0 auto; padding-top: 148px;
}
.header{
    width: 100%; height: 148px;
    position: fixed; top: 0; z-index: 99; background: #fff;
    transition: all .3s;
}
.header::after{
    content: ''; width: 100%; height: 1px; background: #ededed; position: absolute; bottom: 0;
    opacity: 0; transition: all .3s;
}
.header.header-down{transform: translateY(0);} 
.header.header-up{transform: translateY(-100%);}
.header.on::after{
    content: ''; width: 100%; height: 1px; background: #ededed; position: absolute; bottom: 0;
    opacity: 1; 
} 
.header .header-wrap{
    max-width: 1732px; min-width: 1120px; 
    margin: 0 auto; padding: 30px 50px 0 50px;
}
.header .header-wrap .header-line{
    width: 100%; display: flex; justify-content: space-between; align-items: center;
}
.header .header-wrap .header-line .logo{margin-top: 2px;}
.header .header-wrap .header-line > form{
    width: 520px; height: 45px; margin: 2px 0 0 55px; position: relative;
    border-radius: 30px; background: #f7f7f7;
    display: flex; justify-content: space-between; align-items: center;
}
.header .header-wrap .header-line > form > input{width: 70%; margin-left: 45px;}
.header .header-wrap .header-line > form .search-btn{margin-right: 20px;}
.header .header-wrap .header-line > form .search-hide-box{
    width: 520px; height: 300px; display: none; z-index: 2; background: #fff;
    position: absolute; top: 60px; box-shadow: #6363634d 6px 6px 24px;
}
.header .header-wrap .header-line .plus-icon{display: flex; gap: 24px; margin-top: 1px;}
/*  */
.header .header-wrap > nav{
    padding: 25px 0; position: relative;
    display: flex; justify-content: space-between;
}
.header .header-wrap > nav .header-nav{
    display: flex; gap: 25px;
}
.header .header-wrap > nav .header-nav .brand{
    position: relative;
}
.header .header-wrap > nav .header-nav > li > a{
    font-weight: bold; text-decoration: none; padding-bottom: 25px;
    position: relative;
}
.header .header-wrap > nav .header-nav > li > a::before{
    content: ''; width: 100%; height: 3px; background: #000;
    position: absolute; bottom: 0; transform: scaleX(0); transition: all .2s;
}
.header .header-wrap > nav .header-nav > li > a:hover::before{
    transform: scaleX(1);
}
.header .header-wrap > nav .header-nav > .brand > a::before{
    display: none;
}
.header .header-wrap > nav .header-nav .brand > a{
    padding-right: 15px; position: relative;
}
.header .header-wrap > nav .header-nav .brand > a::after{
    content: ''; position: absolute; top: 6px; right: 2px;
    bottom: auto; left: auto; width: 5px; height: 5px;
    border-right: 2px solid #111; border-bottom: 2px solid #111;
    transform: rotate(45deg); transition: all .3s;
}
.header .header-wrap > nav .header-nav .brand:hover > a::after{
    margin-top: 3px; transform: rotate(225deg);
}
.header .header-wrap > nav .header-nav .brand .brand-menu{
    width: 160px; padding: 20px; background: #fff;
    position: absolute; top: 46px; left: 50%; transform: translateX(-50%);
    box-shadow: #6363634d 6px 6px 24px;
    display: none;
}
.header .header-wrap > nav .header-nav .brand .brand-menu > li{
    margin-bottom: 20px; letter-spacing: -0.5px;
}
.header .header-wrap > nav .header-nav .brand .brand-menu > li:last-child{
    margin-bottom: 0;
}
.header .header-wrap > nav .header-nav .brand .brand-menu > li > a{
    text-align: left; font-weight: bold; color: #888;
}
.header .header-wrap > nav .header-nav .hide .hide-menu{
    width: 100%; transform: scaleY(0); opacity: 0; transform-origin: top; transition: all .3s;
    position: absolute; top: 100%; left: 0; z-index: 1;
    box-shadow: #6363634d 0px 10px 10px 0;
}
.header .header-wrap > nav .header-nav .hide .hide-menu.on{
    transform: scaleY(1); opacity: 1;
}
.header .header-wrap > nav .header-nav .hide .hide-menu::before{
    content: ''; width: 100%; height: 100%; background: #fff;
    position: absolute; top: 0px; left: -100%;
    box-shadow: #6363634d 0px 10px 10px 0;
}
.header .header-wrap > nav .header-nav .hide .hide-menu::after{
    content: ''; width: 100%; height: 100%; background: #fff;
    position: absolute; top: 0px; right: -100%;
    box-shadow: #6363634d 0px 10px 10px 0;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell{
    position: relative; z-index: 1; display: flex; justify-content: space-between;
    width: 100%; height: 100%; padding: 50px 0; background: #fff;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell .item-list{
    display: flex;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell .item-list .items{
    width: 180px; border-right: solid 1px #ededed; padding-left: 20px;
    font-size: 14px;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell .item-list .items:first-child{
    padding-left: 0;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell .item-list .items > dt{
    font-weight: bold; margin-bottom: 15px; font-size: 15px; 
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell .item-list .items > dt a{
    text-decoration: none;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell .item-list .items > dd{
    margin-bottom: 15px; 
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell .item-list .items > dd a{
    color: #888;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell a{
    overflow: hidden; 
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell a img{
    transform: scale(1); transition: all .3s ease;
}
.header .header-wrap > nav .header-nav .hide .hide-menu .shell a:hover img{
    transform: scale(1.1); 
}
.header .header-wrap > nav .about-company{
    display: flex; gap: 30px;
}
.header .header-wrap > nav .about-company li a{
    font-weight: bold; color: #888; text-decoration: none;
}
/*메인*/
.main-wrap{
    max-width: 1732px; min-width: 1120px; 
    margin: 0 auto; padding: 0 50px; position: relative;
}
.main-wrap .content-1{
    width: 100%; height: 670px; background: #111; display: block;
    position: relative;
}
.main-wrap .content-1 .content-1-wrap .swiper-slide a img{
    object-fit: cover; width: 100%; height: 100%;
}
.main-wrap .content-1 .c-1-prev{
    width: 8px; height:8px; display: block; position: absolute;
    top: 95%; left: 47.5%; transform: translateX(-50%);
    z-index: 1;
}
.main-wrap .content-1 .c-1-prev::after{
    content: ''; width: 100%; height: 100%; display: block;
    border-right: solid 2px #111;
    border-bottom: solid 2px #111;
    transform: rotate(135deg);
}
.main-wrap .content-1 .c-1-next{
    width: 8px; height:8px; display: block; position: absolute;
    top: 95%; left: 52.5%; transform: translateX(-50%);
    z-index: 1;
}
.main-wrap .content-1 .c-1-next::after{
    content: ''; width: 100%; height: 100%; display: block;
    border-right: solid 2px #111;
    border-bottom: solid 2px #111;
    transform: rotate(-45deg);
}
.main-wrap .content-1 .c-1-progress{
    width: 30%; height: 2px;
    position: absolute; top: 90%; left: 50%; transform: translateX(-50%);
    z-index: 1;
}
/* 베스트 아이템 */
.main-wrap .best-item .item-container{
    display: flex;
}
.main-wrap .best-item .item-container .left-img{
    width: 19%; overflow: hidden; position: relative;
}
.main-wrap .best-item .item-container .left-img img{
    width: 100%; transition: all .3s;
}
.main-wrap .best-item .item-container .left-img img:hover{
    transform: scale(1.1);
}
.main-wrap .best-item .item-container .left-img span{
    color: #fff; font-weight: bold; line-height: 35px;
    position: absolute; bottom: 3%; left: 8%;
}
.main-wrap .best-item .item-container .left-img span p{
    font-size: 25px; letter-spacing: -1px;
}
.main-wrap .best-item .item-container .item-wrap{
    width: 81%; overflow: hidden;
}
.main-wrap .best-item .item-container .item-wrap .swiper-wrapper .swiper-slide .img-best a{
    position: relative; display: block; overflow: hidden;
}
.main-wrap .best-item .item-container .item-wrap .swiper-wrapper .swiper-slide .img-best a span{
    font-size: 16px; font-weight: bold;
    position: absolute; top: 10px; left: 20px;
}
/* 큰 이미지 */
.main-wrap .big-img{
    display: flex; gap: 15px; margin-top: 100px; width: 100%;
}
.main-wrap .big-img .big-box{
    width: calc(100% / 2);
}
.main-wrap .big-img .big-box a{
    overflow: hidden; display: block;
}
.main-wrap .big-img .big-box a img{
    transition: all .3s; object-fit: cover; width: 100%;
}
.main-wrap .big-img .big-box a img:hover{
    transform: scale(1.1);
}
.main-wrap .big-img .big-box p{
    font-size: 15px; font-weight: bold; color: #888;
    margin-top: 20px;
}
.main-wrap .big-img .big-box span{
    font-size: 26px; font-weight: bold; margin-top: 10px; display: block; letter-spacing: -1px;
}
/* new 상품 */
.main-wrap .new > .new-nav{
    display: flex; gap: 20px; margin-top: 30px;
}
.main-wrap .new > .new-nav li span{
    font-size: 17px; font-weight: bold; color: #c8c8c8;
    cursor: pointer; display: block; position: relative;
    padding-bottom: 5px; transition: all .2s;
}
.main-wrap .new > .new-nav li span::after{
    content: ''; width: 100%; height: 2px; background: #000; transition: all .2s;
    position: absolute; bottom: 0; left: 0; transform: scaleX(0); transform-origin: center;
}
.main-wrap .new > .new-nav li span:hover{
    color: #000;
}
.main-wrap .new > .new-nav li span:hover::after{
    transform: scaleX(1);
}
.main-wrap .new > .new-nav li.on span{
    color: #000;
}
.main-wrap .new > .new-nav li.on span::after{
    transform: scaleX(1);
}
.main-wrap .new .new-list{
    margin-top: 25px; display: none;
}
.main-wrap .new .new-list.on{
    display: flex;
}
.main-wrap .new .new-list .new-swipe{
    width: 81%; overflow: hidden;
}
.main-wrap .new .new-list .new-swipe .swiper-wrapper .swiper-slide .text-new{
    margin-top: 10px;
}
.main-wrap .new .new-list .right-img{
    width: 19%; cursor: pointer; overflow: hidden;
}
.main-wrap .new .new-list .right-img img{
    width: 100%; transition: all .3s;
}
.main-wrap .new .new-list .right-img img:hover{
    transform: scale(1.1);
}
/* video-area */
.main-wrap .video-area{
    margin-top: 100px;
}
/* ootd */
.main-wrap .ootd{
    padding-bottom: 100px;
}
.main-wrap .ootd .inline{
    display: flex; align-items: center;
}
.main-wrap .ootd .inline > span{
    font-size: 30px; font-weight: bold; letter-spacing: -1px;
    margin: 20px 0; display: block;
}
.main-wrap .ootd .inline > p{
    margin-left: 20px; color: #818181;
}
.main-wrap .ootd .ootd-list{
    display: flex; gap: 15px;
}
.main-wrap .ootd .ootd-list li a{
    display: block; overflow: hidden;
}
.main-wrap .ootd .ootd-list li a img{
    width: 100%; transition: all .3s;
}
.main-wrap .ootd .ootd-list li a img:hover{
    transform: scale(1.1);
}
/* footer */
.footer{
    padding: 0 50px; background: #f1f1f1; height: 385px;
}
.footer .inner{
    max-width: 1632px; padding: 60px 120px 0 0; margin: 0 auto; 
}
.footer .inner .footer-logo{
    position: absolute; display: block;
}
.footer .inner .footer-info a{
    text-decoration: none;
}
.footer .inner .footer-info{
    font-size: 13px; color: #777;
    display: flex; justify-content: space-between;
}
.footer .inner .footer-info .left-info{
    padding-top: 75px;
}
.footer .inner .footer-info .left-info > p{
    margin-bottom: 8px;
}
.footer .inner .footer-info .left-info .line span{
    padding-right: 10px; position: relative;
}
.footer .inner .footer-info .left-info .line span::after{
    content: ''; width: 1px; height: 13px; background: #c8c8c8;
    position: absolute; top: 3px; right: 2px;
}
.footer .inner .footer-info .left-info .line span:last-child:after{
    display: none;
}
.footer .inner .footer-info .left-info p span a{
    color: #666; border-bottom: solid 1px #666;
}
.footer .inner .footer-info .right-info .l{
    width: 220px;
}
.footer .inner .footer-info .right-info .l li{
    margin-bottom: 8px;
}
.footer .inner .footer-info .right-info .r{
    width: 190px;
}
.footer .inner .footer-info .right-info .r dt{
    margin-bottom: 8px;
}
.footer .inner .footer-info .right-info .right-top{
    width: 100%; display: flex;
}
.footer .inner .footer-info .right-info .right-top a{
    font-weight: bold; color: #666;
}
.footer .inner .footer-info .right-info .right-top dl dt{
    font-weight: bold; color: #666;
}
.footer .inner .footer-info .right-info .right-top dl dd{
    font-size: 27px; font-weight: bold; color: #666; line-height: 25px;
}
.footer .inner .footer-info .right-info .right-bottom{
    width: 100%; display: flex; margin-top: 45px;
}
.footer .inner .footer-info .right-info .right-bottom a{
    color: #777;
}
.footer .inner .footer-else{
    display: flex; justify-content: space-between; margin-top: 40px;
}
.footer .inner .footer-else .copyright{
    font-size: 15px; color: #777; font-weight: bold;
}
.footer .inner .footer-else .link{
    display: flex; gap: 18px;
}
/* 네비게이션 */
.blank-nav{
    position: fixed; bottom: 30px; right: 7.3%;
    z-index: 99;
}
.blank-nav > a{
    width: 45px; height: 45px; background: #fff; position: relative;
    display: block; border-radius: 50px; box-shadow: 0px 0px 2px 1px #a3a3a3;
}
.blank-nav .clock .circle{
    width: 50%; height: 50%; display: block; 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    border: solid 2px #111; border-radius: 50px;
}
.blank-nav .clock .circle .hour{
    width: 2px; height: 7px; display: block; background: #111;
    position: absolute; top: 3px; left: 8px;
}
.blank-nav .clock .circle .minuite{
    width: 6px; height: 2px; display: block; background: #111;
    position: absolute; top: 8px; left: 9px;
    transform: rotate(0deg);
    transform-origin: left; transition: all 1s;
}
.blank-nav .clock:hover .minuite{
    transform: rotate(-360deg);
}

.blank-nav .go-top{
    margin-top: 18px;
    transition: all .3s;
    height: 0px;
    transform: scale(0);
    visibility: hidden;
}
.blank-nav .go-top.on{
    transform: scale(1); visibility: visible;
    height: 45px;
}
.blank-nav .go-top .left{
    width: 12px; height: 2px; 
    display: block; background: #111;
    position: absolute; top: 22px; left: 13px;
    transform: translate(-100%, -50%);
    transform: rotate(-45deg);
}
.blank-nav .go-top .right{
    width: 12px; height: 2px; 
    display: block; background: #111;
    position: absolute; top: 22px; right: 12.8px;
    transform: translate(-100%, -50%);
    transform: rotate(45deg);
}