@charset "UTF-8";
body{}
.wrap{position: relative; height: 3000px;}
.inner{width: 1151px; margin: 0 auto;}
.title{
    font-size: 22px; font-weight: bold; display: flex; align-items: center; padding-bottom: 13px;
}
/*  */
.top-banner{width: 100%; height: 91px; text-align: center; overflow-x: hidden; border-bottom: solid 1px #eaeaea;}
.top-banner > a{display: block; width: 100%; height: 100%; position: relative;}
.top-banner > a > img{position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
/*  */
.header .top-line{display: flex; padding-top: 8px;}
.header .top-line > a{
    width: 105px; height: 27px; display: block; font-size: 0;
    background: url(../img/header/icon_set_common.png) no-repeat -5px -165px;
}
.header .top-line > nav > .header-nav{
    height: 100%; display: flex; gap: 17px; margin-left: 63px;
}
.header .top-line > nav > .header-nav > li > a{
    letter-spacing: -1px; font-size: 16px; font-weight: bold; line-height: 31px;
}
.header .top-line > nav > .header-nav > li > a:hover{
    color: rgb(103, 176, 255);
}
.header .top-line .my-link{
    display: flex; gap: 17px; margin-left: auto; margin-right: 10px;
}
.header .top-line .my-link > li > a{
    font-size: 14px; font-weight: bold; letter-spacing: -1px; line-height: 31px;
}
.header .top-line .my-link > li > a:hover{
    color: rgb(103, 176, 255);
}
/*  */
.st-con-wrap{display: flex; flex-flow: column;}
.st-con-wrap .language{
    margin-left: auto; margin-top: 10px;
    margin: 10px 0 5px auto;
}
.st-con-wrap .language > form{
    display: flex;
}
.st-con-wrap .language > form > select{
    border: solid 1px rgb(116, 140, 214);
    font-size: 12px; color: rgb(103, 176, 255);
    width: 80px; height: 20px;
}
.st-con-wrap .language > form .lan-link{
    font-size: 12px; color: #fff; background: rgb(1, 75, 154); 
    padding: 1px 5px; border: solid 1px rgb(116, 140, 214);
}
.st-con-wrap .api-line{height: 93px; display: flex; align-items: center;}
.st-con-wrap .api-line .slogan{
    margin: 12px 0 30px;
}
.st-con-wrap .api-line .search-bar{
    margin-left: 117px;
}
.st-con-wrap .api-line .search-bar > form{
    display: flex; position: relative; margin-bottom: 23px;
    border: solid 3px rgb(103, 176, 255) !important;
    width: 520px; height: 42px;
}
.st-con-wrap .api-line .search-bar > form > input{
    width: 472px; height: 42px; font-size: 14px; color: #707070;
    padding: 0 10px 5px; 
}
.st-con-wrap .api-line .search-bar > form > img{
    width: 30px; height: 15px;
    position: absolute; left: 442px; top: 50%; transform: translateY(-50%);
}
.st-con-wrap .api-line .search-bar > form .search-btn{
    font-size: 0; display: block; width: 35px; height: 40px; margin-left: auto;
    background: url(../img/header/icon_set_common.png)no-repeat -32px -97px;
}
.st-con-wrap .api-line .weather{
    margin-left: auto; display: flex; margin-right: 20px; margin-bottom: 30px;
}
.st-con-wrap .api-line .weather > img{margin-right: 10px; width: 58px;}
.st-con-wrap .api-line .weather .weather-text .top-weather{
    margin-bottom: 10px;
}
.st-con-wrap .api-line .weather .weather-text .top-weather .tempature{
    font-size: 25px; margin-right: 10px;
}
.st-con-wrap .api-line .weather .weather-text .bottom-weather{
    font-size: 13px;
}
.st-con-wrap .api-line .weather .weather-text .bottom-weather b{
    color: rgb(1, 75, 154);
}
.nd-con-wrap{
    display: flex; gap: 22px; margin-top: 1px;
}
.nd-con-wrap .slide-box-1{
    height: 350px; display: flex;
}
.nd-con-wrap .slide-box-1 .box-nav-1 .nav{
    width: 80px; height: 50%; cursor: pointer; position: relative; z-index: 10;
    display: flex; flex-flow: column; align-items: center; justify-content: center;
    background: #d2e1e9; color: #000; font-size: 13px; font-weight: bold;
}
.nd-con-wrap .slide-box-1 .box-nav-1 .nav .circle{
    width: 50px; height: 50px; border-radius: 50px;
    margin-bottom: 10px;
}
.nd-con-wrap .slide-box-1 .box-nav-1 .nav .circle.news{
    background: url(../img/nd-con-wrap/icon_main_2019.png)no-repeat 0 0;
    background-color: #fff;
}
.nd-con-wrap .slide-box-1 .box-nav-1 .nav .circle.participate{
    background: url(../img/nd-con-wrap/icon_main_2019.png)no-repeat -50px 0;
    background-color: #fff;
}
.nd-con-wrap .slide-box-1 .box-nav-1 .nav.on{
    background: #0158a8; color: #fff;
}
.nd-con-wrap .slide-box-1 .box-nav-1 .nav.on::after{
    content: ''; width: 30px; height: 50px; background: #0158a8;
    position: absolute; top: 50%; right: -30px; transform: translateY(-50%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.nd-con-wrap .slide-box-1 .swipe-1{
    width: 690px; margin-left: 0;
}
.nd-con-wrap .slide-box-1 .swipe-1 .wrapper-1 .slide-1{
    width: 100%; position: relative;
}
.nd-con-wrap .slide-box-1 .swipe-1 .wrapper-1 .slide-1 figcaption{
    position: absolute; bottom: 0; left: 0; font-size: 14px;
    width: 100%; height: 40px; line-height: 40px; padding-left: 10px;
    background: #000000a1; color: #fff;
}
.nd-con-wrap .mayor{
    width: 360px; display: flex; flex-flow: column; gap: 10px;
}
.nd-con-wrap .mayor .daily-news{
    width: 100%; position: relative;
}
.nd-con-wrap .mayor .daily-news > a{
    height: 250px; display: block;
    background: url(../img/nd-con-wrap/MAYORNEWS_20230831094506_59903.jpg)no-repeat center;
    background-size: auto 100%;
}
.nd-con-wrap .mayor .daily-news > span{
    position: absolute; width: 100%; bottom: 0;
    height: 40px; line-height: 40px;
    font-size: 14px; letter-spacing: -1.3px; font-weight: bold; text-align: center;
    background: #000000a1; color: #fff;
}
.nd-con-wrap .mayor .mayor-menu{
    position: relative;
}
.nd-con-wrap .mayor .mayor-menu .mayor-link{
    position: absolute; top: 18px; right: 14px;
    width: 110px; height: 30px;
    background: url(../img/nd-con-wrap/btn-mayorlink0.png);
}
.nd-con-wrap .mayor .mayor-menu .mayor-list{
    position: absolute; bottom: 0;
    width: 100%; display: flex; justify-content: space-around;
}
.nd-con-wrap .mayor .mayor-menu .mayor-list li{
    width: calc(100% / 4 - 1px); background: #8b7153;
    font-size: 12px; letter-spacing: -1px;
}
.nd-con-wrap .mayor .mayor-menu .mayor-list li a{
    color: #fff; display: block;
    width: 100%; height: 26px; line-height: 26px; text-align: center;
}
.rd-con-wrap{margin-top: 50px;}
.rd-con-wrap .title{
    border-bottom: solid 1px #ddd;
}
.rd-con-wrap .title > a{
    font-size: 15px; margin-left: 30px; padding: 3px 10px; 
    font-weight: 400; background: #fff; display: inline-block;
    border: 1px solid #ddd;
}
.rd-con-wrap .service-list{
    width: 100%; margin-top: 20px; display: flex; justify-content: space-between;
}
.rd-con-wrap .service-list > li{
    width: calc(100% / 12); text-align: center;
}
.rd-con-wrap .service-list > li > a{
    width: 100%; font-size: 15px; letter-spacing: -2.4px;
}
.rd-con-wrap .service-list > li > a .icon{
    width: 60px; height: 60px; display: block; margin: 0 auto 10px;
}
.rd-con-wrap .service-list > li > a .icon.icon-1{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -360px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-2{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat 0px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-3{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -120px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-4{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -300px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-5{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -180px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-6{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -960px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-7{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -780px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-8{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -1140px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-9{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -1020px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-10{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -60px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-11{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -1080px 0;
}
.rd-con-wrap .service-list > li > a .icon.icon-12{
    background: url(../img/rd-con-wrap/icon_set_service_202205.png)no-repeat -600px 0;
}
.th-con-wrap{
    width: 100%; height: 110px;
    background: #eff4f8; margin-top: 35px;
    display: flex; align-items: center;
}
.th-con-wrap .seoul-menu{display: flex;}
.th-con-wrap .seoul-menu > li{
    border-right: solid 1px #aeaeae;
}
.th-con-wrap .seoul-menu > li:last-child{
    border-right: none;
}
.th5-con-wrap{
    margin-top: 50px; padding-bottom: 50px;
    border-bottom: solid 2px #000;
    display: flex; gap: 40px;
}
.th5-con-wrap > div{width: calc(100% / 3 - 80px / 3);}
/* link 공통 */
.th5-con-wrap .title.line{border-bottom: solid 2px #ddd;}
.th5-con-wrap .title.line > a{
    width: 22px; height: 20px;
    background: url(../img/header/icon_set_common.png)no-repeat -1px -1px;
    margin-left: auto; border: solid 1px #ddd;
}
.th5-con-wrap .link{
    display: flex; flex-flow: column; gap: 10px; margin-top: 20px;
}
.th5-con-wrap .link li{
    width: 100%; display: flex;
}
.th5-con-wrap .link li > span{width: 12%;}
.th5-con-wrap .link li .administrate{color: #028ab6;}
.th5-con-wrap .link li .walfare{color: #d76000;}
.th5-con-wrap .link li .traffic{color: #337ee2;}
.th5-con-wrap .link li .house{color: #c35c3c;}
.th5-con-wrap .link li .enviroment{color: #599100;}
.th5-con-wrap .link li .culture{color: #9b64d3;}
.th5-con-wrap .link li > a{
    width: 88%;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
/* link 공통 */
.th5-con-wrap .service .service-link{
    display: flex; flex-flow: row wrap;
    padding: 17px 0px; background: #eff4f8;
}
.th5-con-wrap .service .service-link li{
    width: calc(100% / 2); position: relative;
    margin-bottom: 10px; padding-left: 28px;
}
.th5-con-wrap .service .service-link li::before{
    content: ''; width: 2px; height: 2px;
    background: #000; display: block;
    position: absolute; top: 50%; left: 15px;
}
.th5-con-wrap .service .service-link li > a{
    font-size: 14px; display: block;
}
.th6-con-wrap{margin-top: 40px;}
.th6-con-wrap .info-list{display: flex; align-items: center;}
.th6-con-wrap .info-list li{
    width: calc(100% / 8); text-align: center;
}
.th6-con-wrap .info-list li > a > p{
    margin-top: 10px;
}
.th7-con-wrap{
    margin-top: 50px;
}
.th7-con-wrap .title .more-link{
    font-size: 16px; font-weight: 400; color: #919191; margin-left: auto;
}
.th7-con-wrap .title .more-link i{
    font-size: 24px; line-height: 20px; font-weight: bold;
}
.th7-con-wrap .news-wrap{
    margin-top: 10px;
}
.th7-con-wrap .news-wrap .news-list{
    display: flex; flex-flow: row wrap; gap: 20px;
}
.th7-con-wrap .news-wrap .news-list > li{
    width: calc(100% / 4 - 60px / 4);
}
.th7-con-wrap .news-wrap .news-list > li > a .img-box{
    position: relative; overflow: hidden;
}
.th7-con-wrap .news-wrap .news-list > li > a .img-box > img{
    width: 100%; transition: all .3s;
}
.th7-con-wrap .news-wrap .news-list > li > a .img-box > img:hover{
    transform: scale(1.1);
}
.th7-con-wrap .news-wrap .news-list > li > a .img-box > span{
    position: absolute; bottom: 0; left: 0;
    padding: 7px 28px; color: #fff;
    font-size: 13px; font-weight: bold;
}
.th7-con-wrap .news-wrap .news-list > li > a .img-box .green{
    background: #599100;
}
.th7-con-wrap .news-wrap .news-list > li > a .img-box .orange{
    background: rgb(255, 128, 0);
}
.th7-con-wrap .news-wrap .news-list > li > a .img-box .blue{
    background: #028ab6;
}
.th7-con-wrap .news-wrap .news-list > li > a > p{
    margin-top: 15px;
}
.th8-con-wrap{
    margin-top: 40px; margin-bottom: 20px; display: flex; gap: 20px;
}
.th8-con-wrap .seoul-news{
    width: 480px; height: 196px; position: relative;
}
.th8-con-wrap .seoul-news > ul{
    width: 100%; margin: 10px 0;
}
.th8-con-wrap .seoul-news > ul > li{
    margin-bottom: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.th8-con-wrap .seoul-news > ul > li > a .left-text{
    color: #599100; margin-right: 20px; letter-spacing: -1px;
}
.th8-con-wrap .seoul-sns{
    width: 350px; background: url(../img/th8-con-wrap/bg_sns_list_202205.gif)no-repeat;
}
.th8-con-wrap .seoul-sns > a{
    width: 100%; height: 100%; display: block;
}
.th8-con-wrap .seoul-sns > a .title{
    padding: 10px 15px;
}